:root {
    --red: #dc5454;
    --pale: #fef9f3;;
    --black: #333;
    --header-size: 28px;
    --content-size: 22px;
}

@font-face {
    font-family: TorontoSubway;
    src: url("./Toronto Subway.ttf");
}




html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: var(--pale);
}

body {
    margin: 0;
    padding: 0;
}

.page-header {
    width: 100%;
    background-color: var(--red);
    font-size: var(--header-size);
    color: white;
    font-family: TorontoSubway;
    margin-bottom: 35px;
}

.page-title {
    display: flex;
    background-color: #ab3434;
    font-size: 65px;
    padding: 11px 15px;
    background-image: url("streetcar.jpg");
    height: 175px;
    opacity: 90%;
    place-content: center;
    align-items: center;
}

.topnav {
    overflow: hidden; 
}

.topnav a {
    float: left;
    padding: 13px 18px;
    text-decoration: none;
    color:white;
}

.hoverable:hover {
    background-color: white;
    color: var(--red);
}

.active {
    background-color: #b4afaf;
}

.topnav-right {
    float:right;
}

.verticalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.verticalContainer p {
    font-size: var(--content-size);
}

#stopPredictionInput {
    height: 35px;
    width: 100px;
    border-radius: 8px;
    text-align: center;
    font-size: var(--content-size);
}

dirHeader {
    font-size: calc(var(--content-size) + 2px );

}

dirTime {
    font-size: calc(var(--content-size));

}

#stopPredictionButton {
    border-radius: 4px;
}

#startRouteInput {
    margin: 0px 10px;
}

#routeCountInput {
    height: 35px;
    width: 50px;
    border-radius: 8px;
    font-size: var(--content-size);
}

#mapholder {
    height: 700px;
    width: 100%;
}

#map {
    
    height: 100%;
    width: 90%;
    border: 1.5px solid var(--black);
}

#challengeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--content-size);
}

.interactable {
    font-size: var(--content-size);
    height: 35px;
    border-radius: 8px;
}

#routeCountInput {
    margin: 0px 10px;
}

#connectedCheckbox {
    margin-right: 15px;
}

#challengeButton {
    width: 90px;
}

#challengeResults {
    margin-top: 20px;
    font-size: var(--content-size);
    margin-bottom: 20px;
}

route {
    font-size: var(--content-size);
}

#resultsPanel {
    margin-bottom: 50px;
}


@media only screen and (max-width: 790px) {
    :root {
        --header-size: 24px;
        --content-size: 18px;
    }

    .page-title {
        font-size: 45px;
    }

    .topnav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .topnav-right {
        float: none;
    }

    .topnav a {
        padding: 6.5px 18px;
        border-top: 2px solid rgb(134, 0, 0);
        width: 100%;
    }

    .topnav-right {
        display:flex;
        align-items: center;
        width: 100%;
    }

    .stopPrediction {
        margin-top: 15px;
    }

    dirHeader {
        font-size: 18px;
    }

    dirTime {
        font-size: 16px;
    }

}