
html {
    font-family: monospace;
    text-align: center;
    background-color: Canvas;
    color: CanvasText;
    color-scheme: light dark;
}

.container {
    display: grid;
}
.header {
    font-size:x-large;
}